@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
            }
@font-face {
                font-family: 'Georgia';
                font-style: italic;
                font-weight: 400;
            }
@font-face {
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 700;
            }
a,body,div,font,h1,h2,html,p {
    border: 0;
    font-family: 'Georgia',serif;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    font-variant: oldstyle-nums;
    outline: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0
            }
html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #000;
    font-size: 125%;
    line-height: 1.2em
            }
body {
    background: #fff
            }
p {
    margin-bottom: 1.6875em
}
.site-content {
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0 5%;
}
body{
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-size: 1em;
    line-height: 1.4em
}
h2 {
	font-variant: small-caps;
}
a {
    color: #2ac176;
    text-decoration: none
}
::selection {
    background: #2ac176;
    color: #fff;
}
h1 {
    font-size: 2.5625em;
    line-height: 1.31707em;
    font-family: 'Georgia',serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -1px;
    padding-bottom: 0.4em;
    margin: 0;
            }
